@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Continuous Delivery Pipeline</h1></center>
    <center><p class="lead">Release your application multiple times per day.Mats bytte förg</p></center>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Continuous Build and Integration</h2>
        <p>For every change of your C# code you check into the version control system, CODEπ immediately compiles the code, integrate all different parts and creates a binary package for you. all done automatically.</p>
        <p><a class="btn btn-primary" href="https://www.visualstudio.com/docs/build/get-started/dot-net">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Total Release Management Control</h2>
        <p>As soon as your binary software package is created it can automatically be deploy to any of your environments; test, acceptance or production. You can also deploy the software package to other defined environments with a click of a button. </p>
        <p><a class="btn btn-primary" href="https://www.visualstudio.com/en-us/docs/release/getting-started/understand-rm">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code Quality Monitoring</h2>
        <p>A number of metrics about your software is collected and analyzed by CODEπ and gives your team a good overview of your quality and technical dept. You find code smells, duplications, policy violations and more as well as aggreated information on your codebase’s overall quality, maintainibility and reliability.</p>
        <p><a class="btn btn-primary" href="http://www.sonarqube.org/">Read more &raquo;</a></p>
    </div>
</div>
<div class="row">
        <div class="col-md-4">
            <h2>Connectivity</h2>
            <p>In addition to TFS, CODEπ has support for Scania GitHub The underlying technology of CODEπ may allow for integration with other types of Scania systems. This is however not officially supported by CODEπ.</p>
            <p><a class="btn btn-primary" href="https://gist.github.com/jschementi/286677">Read more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Recommended prerequisits</h2>
            <p>CODEπ is targeted towards .NET and C# development. However,  since the underlying technology is Microsoft TFS Java, Javascript and other technologies can be used with CODEπ but are not officially supported by CODEπ
                CODEπ is designed for agile cross-functional teams. If your team is not yet agile working according to CODEπ best practises will boost your agile journey</p>
            <p><a class="btn btn-primary" href="https://help.rallydev.com/top-10-mistakes-teams">Read more &raquo;</a></p>
        </div>
        
</div>