@{
    ViewBag.Title = "Contact";

}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <center><h1>Release multiple times per day</h1></center>
    <center><p class="lead">Continuous Delivery Pipeline</p></center>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Start your jurney.</h2>
        <p>Now that you are here so we assume that you are convinced that Continuous delivery is something that you really want to get started with, so, the next step is to register your interest by completing the form below. CodePi team will contact you for a no-obligation meeting where we will present in more detail our commitment.</p>
    </div>
    <div class="col-md-4">
        <h2>Register your team</h2>
        <div id="createCustomerFormContainer">

            <table cellspacing="0">
                <tr>
                    <td><label>Teamets Namn:</label></td>
                    <td><input type="text" ng-model="customer.Namn" /></td>
                </tr>
                <tr>
                    <td><label>Owner:</label></td>
                    <td><input type="text" ng-model="customer.Owner" /></td>
                </tr>
                <tr>
                    <td><Label>E-mail:</Label></td>
                    <td><input type="text" ng-model="customer.Owner" /></td>
                </tr>
                <tr>
                    <td><Label>Start date:</Label></td>
                    <td><input type="date" ng-model="customer.startdate" placeholder="yyyy-MM-dd" min="2016-01-01"></td>
                </tr>
            </table>
            <div class="btn-group">
                <input class="btn btn-send" type="submit" value="Register" ng-click="customer.addCustomer(customer.id, customer.startdate)" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <strong>Marketing:</strong> <a href="mailto:mats.skoglund@scania.com">mats.skoglund@scania.com</a><br />
        <strong>Support:</strong>   <a href="mailto:afshin@scania.com">afshin.mohammadi@scania.com</a>

    </div>
</div>


